@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #0a192f;
  overflow-x: hidden;
}
