.about {
    .about_inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        span {
            color: #64ffda;
            font-size: 1.6rem;
        }

        h2 {
            color: #ccd6f6;
            font-weight: bold;
        }

        p {
            background-color: #8892b0;
            width: 20rem;
            height: 0.5px;
        }
    }
    .def {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 10px;

        .first_about {
            p {
                line-height: 1.5;
                color: #8892b0;
                span {
                    color: #64ffda;
                    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                }
            }
            .list {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-top: -14px;

                ul {
                    li {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        background: transparent;
                        color: #8892b0;
                        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                        gap: 10px;
                        span {
                            font-size: 1.2rem;
                            color: #64ffda;
                        }
                    }
                }

                ul:nth-child(1) {
                    margin-left: -39px;
                }
            }
        }
        .second_about {
            .image {
                padding-left: 2rem;
                padding-top: 1.25rem;
                img {
                    width: 17rem;
                    height: 22rem;
                    border-radius: 4px;
                    background-color: #64ffda;
                }
            }
        }
    }

    @media screen and (max-width: 920px) {
        .def {
            grid-template-columns: 1fr;

            .second_about {
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 560px) {
        .about_inner {
            p {
                width: 10rem;
            }
        }
        .def {
            .second_about {
                .image {
                    padding-left: 0;
                }
            }
        }
    }
}
