@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main_page {
    .active-nav {
        height: 5rem;
        width: 100%;
        top: 0px;
        transition: 0.3s linear;
    }
    .hidden {
        height: 4rem;
        width: 100%;
        z-index: 40;
        top: -100px;
        transition: 0.3s linear;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        user-select: none;
        background: rgba(10, 25, 47, 0.65);
        backdrop-filter: blur(10px);
        height: 5rem;
        z-index: 11;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 0;

        a {
            margin-left: 3rem;
        }

        ol {
            margin-right: 3rem;
            display: flex;
            align-items: center;
            background: transparent;
            position: relative;
            gap: 40px;

            li {
                color: #ccd6f6;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 7px;
                transition: 0.3s linear;
                background: transparent;
                font-size: 15px;

                a {
                    text-decoration: none;
                    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                    color: #ccd6f6;
                    margin: 0;

                    span {
                        color: #64ffda;
                        background: transparent;
                    }

                    &:hover {
                        color: #64ffda;
                    }
                }
            }

            .resume {
                border: 1px solid #64ffda;
                text-decoration: none;
                color: #64ffda;
                padding: 10px 20px;
                border-radius: 4px;
                transition: 0.2s all linear;
                cursor: pointer;

                &:hover {
                    transform: translate(-5px, -5px);
                    outline: none;
                    border-bottom: 4px solid #64ffda;
                    border-right: 4px solid #64ffda;
                }
            }
        }

        .top {
            position: relative;
            margin-right: 10rem;

            .resume {
                position: absolute;
                right: -7.5rem;
            }
        }

        .menu {
            display: none;
        }

        .menu_item {
            display: none;
        }
    }

    @media screen and (max-width: 920px) {
        nav {
            ol {
                display: none;
            }
            .menu {
                display: flex;
                font-size: 2.5rem;
                margin-right: 2.3rem;
                color: #64ffda;
            }
            .menu_item {
                position: fixed;
                height: 100vh;
                display: block;
                color: #8892b0;
                top: 0;
                right: -18rem;
                background: #112240;
                transition: 0.3s all linear;

                .cross {
                    font-size: 2.5rem;
                    text-align: end;
                    margin: 0;
                    color: #64ffda;
                }
                ol {
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                }
            }
            .menu_hidden {
                display: grid;
                grid-template-columns: 2fr 1fr;
                position: fixed;
                height: 100vh;
                color: #8892b0;
                top: 0;
                right: 0;
                background: #112240;
                transition: 0.3s all linear;
                width: 100%;

                .blur {
                    background: rgba(255, 255, 255, 0.4);
                    backdrop-filter: blur(50px);
                    z-index: 999;
                }

                .item {
                    padding: 3rem;
                    padding-right: 2rem;
                    padding-top: 1.8rem;

                    .cross {
                        font-size: 2.5rem;
                        padding-right: 0;
                        text-align: end;
                        margin: 0;
                        color: #64ffda;
                        cursor: pointer;
                    }
                    ol {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-right: 2rem;
                        justify-content: center;
                        position: relative;
                        width: 100%;
                        gap: 4rem;

                        li {
                            a {
                                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                                &:hover {
                                    color: #64ffda;
                                }
                            }
                        }

                        .resume {
                            text-decoration: none;
                            position: absolute;
                            bottom: -5rem;
                            left: -0.7rem;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 720px) {
        nav {
            a {
                margin-left: 2rem;
            }
            .menu_hidden {
                .item {
                    ol {
                        .resume {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 430px) {
        nav {
            .menu_hidden {
                grid-template-columns: 1fr 2fr;
            }
        }
    }
    @media screen and (max-width: 390px) {
        nav {
            .menu_hidden {
                grid-template-columns: 0fr 1fr;

                .item {
                    ol {
                        padding: 0;
                        align-items: center;
                        justify-content: center;

                        .resume {
                            left: 4.3rem;
                        }
                    }
                }
            }
        }
    }
}

.main_page {
    #content {
        padding: 0px 150px;

        section {
            margin: 0px auto;
            max-width: 1000px;
        }

        .intro {
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;

            .intro_inner {
                div:nth-child(1) {
                    color: #64ffda;
                    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                    font-size: 18px;
                    margin-left: 4px;
                    padding-bottom: 1rem;
                }
                div:nth-child(2) {
                    h2 {
                        font-size: 4.2rem;
                        color: #ccd6f6;
                        margin: 0;
                    }
                }
                div:nth-child(3) {
                    padding-bottom: 0.5rem;
                    color: #8892b0;
                    h2 {
                        font-size: 4.2rem;
                        margin: 0;
                    }
                }
                div:nth-child(4) {
                    p {
                        margin: 20px 0px 0px;
                        max-width: 540px;
                        color: #8892b0;
                        font-size: 18px;
                        line-height: 1.5;

                        span {
                            color: #64ffda;
                            font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                        }
                    }
                }
                div:nth-child(5) {
                    margin-top: 60px;
                    position: relative;
                    display: flex;

                    a {
                        top: -10px;
                        position: absolute;
                        text-decoration: none;
                        color: #64ffda;
                        border: 1px solid #64ffda;
                        padding: 15px 35px;
                        border-radius: 4px;
                        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                        transition: 0.1s linear;

                        &:hover {
                            transform: translate(-5px, -5px);
                            border-bottom: 4px solid #64ffda;
                            border-right: 4px solid #64ffda;
                        }
                    }
                }
            }
        }
        .about {
            margin-top: 80px;
        }
        .exp {
            margin-top: 50px;
        }
        .project {
            margin-top: 50px;
        }
        .other_project {
            margin-top: 50px;
        }
        .education {
            margin-top: 50px;
        }
        .contact {
            margin-top: 70px;
        }
        .foote {
            margin-top: 10rem;
        }
    }

    @media screen and (max-width: 1005px) {
        #content {
            .other_project {
                margin-top: 85px;
            }
        }
    }

    @media screen and (max-width: 920px) {
        #content {
            padding: 0px 100px;

            section {
                max-width: 1200px;
            }
            .intro {
                .intro_inner {
                    div:nth-child(2) {
                        h2 {
                            font-size: 3.6rem;
                        }
                    }
                    div:nth-child(3) {
                        padding-bottom: 0;
                        h2 {
                            font-size: 3.6rem;
                        }
                    }
                }
            }
            .email,
            .main_icon {
                display: none;
            }
        }
    }

    @media screen and (max-width: 830px) {
        #content {
            .other_project {
                margin-top: 50px;
            }
        }
    }

    @media screen and (max-width: 720px) {
        #content {
            padding: 0px 2rem;

            section {
                max-width: 1600px;
            }
            .intro {
                .intro_inner {
                    div:nth-child(2) {
                        h2 {
                            font-size: 3rem;
                        }
                    }
                    div:nth-child(3) {
                        h2 {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 560px) {
        #content {
            .intro {
                margin-top: 5rem;
            }
            .about {
                padding-top: 1px;
            }
        }
    }

    @media screen and (max-width: 430px) {
        #content {
            padding: 0px 1rem;

            .intro {
                .intro_inner {
                    div:nth-child(2) {
                        h2 {
                            font-size: 2.5rem;
                        }
                    }
                    div:nth-child(3) {
                        h2 {
                            font-size: 2.5rem;
                        }
                    }
                    div:nth-child(4) {
                        p {
                            font-size: 15px;
                        }
                    }
                    div:nth-child(5) {
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 390px) {
        #content {
            .foote {
                margin-top: 8rem;
            }
        }
    }
}
